<div class="flow">
  {%- for author in data.authors -%}
    {% Author {
        author: author,
        showSocialMedia: true,
        showDescription: true,
        locale: 'en'
      }
    %}
  {%- endfor -%}
</div>
