{% Author
  {
    author: {
      title: 'i18n.authors.jakearchibald.title',
      description:'i18n.authors.jakearchibald.description',
      image: 'image/admin/Cprm03kLbFXkxbzGLI6x.jpg',
      href: '/authors/jakearchibald/',
      twitter: 'jaffathecake'
    },
    showSocialMedia: true,
    showDescription: true,
    locale: 'en'
  }
%}
