<div class="flow">
  {%- for author in authors -%}
    {% Author {
      id: authorKey,
      author: collections.authors[author],
      showSocialMedia: true,
      showDescription: true,
      locale: locale
    } %}
  {%- endfor -%}
</div>
